{% block media_widget %}
    <div class="modal-section-row-value">
        <div class="media-loader">
            <ul class="media-loader-files" data-prototype="{{ block('media_item_prototype')|e }}">
                {% if value.filename is defined %}
                    {{ block('media_item_widget') }}
                {% endif %}
            </ul>
            <div class="dropzone media-loader-dropzone{{ attr.class is defined ? ' ' ~ attr.class : '' }}" data-id="{{ id }}"
                data-url="{{ path('media_file_upload') }}" data-limit="100">
            </div>
        </div>
    </div>
{% endblock %}

{%- block media_item_widget -%}
    {% spaceless %}
        <li class="media-loader-file">
            <img src="{{ value.filename is defined ? value.filename|mediaUrl : '' }}" alt="" class="media-loader-file-img">
            <span class="media-loader-file-remove btn btn-small"><i class="icon icon-remove"></i></span>
            <input type="hidden" {{ block('widget_attributes') }} value="{{ value.id is defined ? value.id : '' }}"/>
        </li>
    {% endspaceless %}
{%- endblock -%}

{%- block media_item_prototype -%}
    {% set value = null %}
    {{ block('media_item_widget') }}
{% endblock %}
